

body{
    background-color : black;
    font-family : 'Courier New', monospace;
    height : 100%; 
    overflow-y : scroll; 
    overflow-x: hidden;
}

.term_header{
    font-size: 1.5em; 

}
    

.blink_me {
    animation: blinker 1s linear infinite;
    }
     

    @keyframes blinker {
    50% {
        opacity: 0;
    }
}

.terminal{
    font-family: 'Share Tech Mono', serif;
    font-size:2rem;
    color: #00ff00b5; 
    text-shadow: 0 0 .1rem #00FF00;
    display:flex;
    overflow-x: wrap;
    flex-direction: column;
}
.text_block{
    display: flex ;
    justify-content:left; 
}

.line
{   
    display: flex; 
    flex-direction: row;
    justify-content: left;
    padding-bottom: .25rem; 
    overflow-x:wrap;
    text-align: left;
}

.dollar {color: rgb(200, 224, 184);}

.entry{
    justify-self: left;
    text-align: left;
    padding-left: .5rem;
}


.carat {color: rgb(200, 224, 184);
    padding-left : 1.5rem ; 
    font-size: 1.5rem;
}

.cat_text{
    font-family: 'Share Tech Mono', serif;
    font-size: 1.5rem;
    color: white; 
    text-shadow: 0 0 .1rem white;
    display:flex; 
    text-overflow: wrap;
    text-align: left;
}
.data_entry{
    padding-left:1.5rem;
    padding-bottom:.5rem;

}

#first_term{
    display:block; 
}
#second_term{
    display: none; 
}
#third_term{
    padding-top: .2em;
}