

body{
    background-color : black;
    font-family : 'Courier New', monospace;
    height : 100%; 
    overflow : hidden; 

}

.term_header{
    font-size: 1.5em; 

}
    

.blink_me {
    animation: blinker 1s linear infinite;
    }
     

    @keyframes blinker {
    50% {
        opacity: 0;
    }
}

.terminal{
    font-family: 'Share Tech Mono', serif;
    font-size:1.5em;
    color: #00ff00b5; 
    text-shadow: 0 0 .1em #00FF00;
    display:flex; 
    flex-direction: column;
}
.text_block{
    display: flex ;
    justify-content:left; 
}

.line
{   
    display: flex; 
    flex-direction: row;
    justify-content: left;
    padding-bottom: .25em; 
    overflow-x:hidden;
    text-align: left;
}

.dollar {color: rgb(200, 224, 184);}

.entry{
    justify-self: left;
    text-align: center;
    padding-left: .5em;
}


#third_term{
    padding-top: .2em;


}
.carat {color: rgb(200, 224, 184);
    padding-left :1em; 
    font-size: .6em;
}

.cat_text{
    font-family: 'Share Tech Mono', serif;
    font-size: .6em;
    color: white; 
    text-shadow: 0 0 .1em white;
    display:flex; 
    overflow-wrap:normal;
    text-align: left;
}

#first_term{
    display:block; 
}
#second_term{
    display: none; 
}

